Flow 1
[{"id":"afd948f1.cda998","type":"switch","z":"9d920261.0332f","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":260,"wires":[["486be6e.9755218"],["2213c6fa.ae85aa"]]},{"id":"486be6e.9755218","type":"change","z":"9d920261.0332f","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["8aae0b14.1b32c8"]]},{"id":"d72954f9.16c638","type":"debug","z":"9d920261.0332f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":120,"wires":[]},{"id":"d455ae10.20054","type":"rpi-gpio in","z":"9d920261.0332f","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":150,"y":140,"wires":[["afd948f1.cda998","d72954f9.16c638"]]},{"id":"8aae0b14.1b32c8","type":"rpi-gpio out","z":"9d920261.0332f","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":750,"y":280,"wires":[]},{"id":"2213c6fa.ae85aa","type":"change","z":"9d920261.0332f","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":320,"wires":[["8aae0b14.1b32c8"]]}]
