FLOW3
[{"id":"a3476576.53faf8","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"97a23a11.0fbfa8","type":"inject","z":"a3476576.53faf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":180,"wires":[["4ca4a023.6b5c8"]]},{"id":"4ca4a023.6b5c8","type":"function","z":"a3476576.53faf8","name":"Payload","func":"msg.header={\n     deviceKey:\"qy06EmlPA7dZVvEO\"\n};\nmsg.payload=\"temperature,,25.3\";\nmsg.payload=\"humidity,,87.0\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":180,"wires":[["71f67b56.6f2364","2d16342e.2c130c"]]},{"id":"71f67b56.6f2364","type":"http request","z":"a3476576.53faf8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D8VILZ3u/datachannels/tmp/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":180,"wires":[["1350765c.f216ba","594f1a78.78fd34"]]},{"id":"1350765c.f216ba","type":"debug","z":"a3476576.53faf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":420,"wires":[]},{"id":"594f1a78.78fd34","type":"http response","z":"a3476576.53faf8","name":"","statusCode":"","headers":{},"x":630,"y":180,"wires":[]},{"id":"2d16342e.2c130c","type":"http request","z":"a3476576.53faf8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D8VILZ3u/datachannels/hum/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":220,"wires":[["1350765c.f216ba","b2ee5e6c.e6ceb"]]},{"id":"b2ee5e6c.e6ceb","type":"http response","z":"a3476576.53faf8","name":"","statusCode":"","headers":{},"x":630,"y":240,"wires":[]}]
