sum1
[{"id":"46f69e74.a63c8","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"7ee5c8f.6a30c38","type":"rpi-gpio in","z":"46f69e74.a63c8","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":50,"y":400,"wires":[["d0209dfa.68c6c","616d3fa8.95f9a"]]},{"id":"2caf3471.05e6ac","type":"rpi-gpio out","z":"46f69e74.a63c8","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":330,"y":220,"wires":[]},{"id":"ac0ed699.627338","type":"inject","z":"46f69e74.a63c8","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["2caf3471.05e6ac","b2b527c2.fc9bd8"]]},{"id":"1b2e58b2.98d7a7","type":"inject","z":"46f69e74.a63c8","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["2caf3471.05e6ac","b2b527c2.fc9bd8"]]},{"id":"b2b527c2.fc9bd8","type":"debug","z":"46f69e74.a63c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":60,"wires":[]},{"id":"d0209dfa.68c6c","type":"rpi-gpio out","z":"46f69e74.a63c8","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":310,"y":400,"wires":[]},{"id":"616d3fa8.95f9a","type":"debug","z":"46f69e74.a63c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":340,"wires":[]},{"id":"6659046f.54700c","type":"switch","z":"46f69e74.a63c8","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":680,"wires":[["642b5eca.65cff"],["1c2cfd24.3fda23"]]},{"id":"642b5eca.65cff","type":"change","z":"46f69e74.a63c8","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":660,"wires":[["2a6c2406.75ab8c"]]},{"id":"4d9b2a59.a2b274","type":"debug","z":"46f69e74.a63c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":540,"wires":[]},{"id":"b5fece8c.d863","type":"rpi-gpio in","z":"46f69e74.a63c8","name":"Button","pin":"7","intype":"down","debounce":"25","read":false,"x":70,"y":560,"wires":[["6659046f.54700c","4d9b2a59.a2b274"]]},{"id":"2a6c2406.75ab8c","type":"rpi-gpio out","z":"46f69e74.a63c8","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":670,"y":700,"wires":[]},{"id":"1c2cfd24.3fda23","type":"change","z":"46f69e74.a63c8","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":740,"wires":[["2a6c2406.75ab8c"]]}]
